{% extends "base.html" %}

{% block content %}

<h1>Blog!</h1>
<hr>

{% for post in posts %}
  <section class="post">
    <div class="row col-md-12">
      <div class="post-subject">
          <h2 class="text-left">{{ post.subject }}</h2>
          <h4 class="text-left"><small>{{ post.created }} by {{ post.created_by.name }}</small></h4>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="post-body">
          {{ post.content }}
      </div>
    </div>

    <div class="row col-md-12">
      <div class="post-edit-links">
        {% if user %}
          <a href="/blog/{{ post.key().id() }}/edit">Edit</a>
          <a href="#">Delete</a>
        {% endif %}
      </div>
    </div>
  </section>
{% endfor %}

{% endblock %}
